html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}
/*
   Header
 */
.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
}
img.header_photo {
    padding: 16px 16px 16px 16px;
    width: auto;
    position:absolute;
}
div.header_wrapper {
    width: 100%;
}
h1.header_name,
h2.header_tagline {
    display: inherit;
    text-align: right;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.6);
}
h1.header_name {
    font-size: 3em;
}
h2.header_tagline {
    font-style: italic;
}
hr.sub-header-rule {
    height: 2px;
    background: darkgrey;
    width: 100%;
}
img.body_photo {
    max-width: 100%;
    object-fit: contain;
}