@media screen and (max-width: 1200px)
  header ul
    left: 15%

//@media screen and (min-width: 1000px)
  main
    max-width: 90%
  div.col-1 section.bio div.bio-wrapper
    margin-top: 15%
    p.bio
      padding: 16px 5% 5% 5%
