$seafoam: #16da95
$dark-seafoam: #0f9364
$blue: #fedac5
$dark-blue: #080f5b
$dark_yellow: #dce3e7
$light_yellow: #fedac5 //#facc43
$light-blue: #dce3e7 //#effffe
$light-orange: #fcc4b0
$trans-orange: rgba(252, 196, 176, 0.2)
$trans-green: rgba(21, 219, 149, 0.3)

$text-highlight: #fef7c5
$grey: #b8bcbf
$off_white: #e8ecef

$shdw-0-hor: 1px 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

$shdw-0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$shdw-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$shdw-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$shdw-3: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$shdw-4: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

$pad12: 12px
$right_arr: "    >"

$std-margin: 24px

$font-stack: "Open Sans", sans-serif
$font-rob: 'Roboto Condensed', sans-serif
$font-oswald: 'Oswald', sans-serif