/*
font-family: 'Chewy', cursive;
font-family: 'Berkshire Swash', cursive;
 */
body {
    text-align: center;
    background-color: #f3f7a8;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}
/**
    Header
 */
header h1 {
    font-size: 2.5em;
    font-family: 'Chewy', sans-serif;
    margin-bottom: 0;
}

/**
    Character Select screen
 */
div.char-select,
div.win-modal {
    margin: 100px auto 0 auto;
    width: 600px;
    background-color: #bafcfa;
    padding: 36px;
    border-radius: 10px;
    border: 10px solid #fcbaba;
}

div.char-select h1,
div.win-modal h1 {
    margin-top: 0;
    font-family: 'Berkshire Swash', sans-serif;
}

div.char-select table {
    margin: 0 auto;
    border-radius: 10px;
}

div.char-select table td {
    background-color: #fcbaba;
    border-radius: 15px;
}

div.char-select table td.selected,
div.char-select table td.selected:hover {
    box-shadow: 0 0 10px gold;
}

div.char-select table td:hover {
    box-shadow: 0 0 10px white;
}

div.char-select table td img:hover {
    transform: scale(1.05);
    transition: ease;
}

div.char-select button,
div.char-select span,
div.win-modal button {
    margin-top: 36px;
    font-size: 1.7em;
    border-radius: 10px;
}

div.char-select select {
    margin-top: 36px;
    margin-right: 1em;
    font-size: 1.4em;
}

button:focus {
    outline: none;
}

/**
    Win Modal
 */
div.modal-bg {
    position: fixed;
    z-index: 3;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}

div.win-modal {
    z-index: 3;
    width: 600px;
    text-align: center;
}

div.win-modal h2,
div.win-modal h2 span {
    font-size: 1.5em;
}