html {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto 0 auto;
    font-family: 'Comfortaa', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #ffa07a;
}

button {
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 6px;
}

main {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

.card-container,
.stats-dock {
    max-width: 80%;
    margin: auto;
}

.fa-star,
.fa-star-o {
    color: #ffd700;
}

/**
    Controls header
 */

.header-dock {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.controls,
.stats-dock {
    width: 100%;
}

.control-item {
    display: inline-block;
}

.game-title {
    width: 70%;
    text-align: left;
}

.start-btn {
    width: 75px;
}

/**
    Stats header
 */
.card-set-name {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
}

.stats-dock {
    text-align: center;
}

.stats-dock {
    margin-top: 0;
}

.stats-item {
    display: inline-block;
    margin: 0 1em 0 1em;
}

/**
    Card container
 */

.card-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 8px;
    margin-bottom: 30px;
}

.card-container:nth-child(4),
.card-container:nth-child(8),
.card-container:nth-child(12),
.card-container:nth-child(16) {
    margin-right: 8px;
}

.card {
    background-color: #fff8dc;
    text-align: inherit;
    padding-bottom: 100%;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 3px 3px 0 #000;
    -moz-box-shadow: 3px 3px 0 #000;
    box-shadow: 3px 3px 0 #000;
    margin: 4px;
    /* Animations
       Sourced: http://www.designskilz.com/cool-css-buttons/ "Hover Button by Hakim El Hattab"
    */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.card:hover {
    top: -5px;
    box-shadow: 3px 3px 0 #000;

    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

.card:active {
    top: 0;
    box-shadow: 0 0 0;
}

.card h3 {
    margin: 0;
    display: none;
}

.matched {
    background-color: #ffd700;
}

.open {
    background-color: #20b2aa;
}

.open h3,
.matched h3 {
    display: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

/**
    Win Modal
 */

.modal-bg {
    position: fixed;
    z-index: 3;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.win-modal {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    width: 90%;
    text-align: center;
    background-color: #fff8dc;
    margin: 0 auto;
}

.win-modal p {
    font-size: 1.5em;
}

.win-modal h2 {
    font-size: 2em;
    text-decoration: underline;
}

.win-modal button {
    display: inline-block;
}

.modal-btn-wrap {
    text-align: right;
}